<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <p class="lead">
                        <button class="btn btn-success btn-lg btn-block fbshare" data-fbshare="http://game.pancilapps.com/game/result/{echo $participant->id}" data-layout="link">Share on Facebook</button>
                    </p>
                    <small><div class="fb-send" data-href="http://game.pancilapps.com/game/result/{$participant->id}"></div></small>
                </div>
            </div>
            <div class="col-md-4">
                <script type="text/javascript">
                    atOptions = {
                        'key' : '281808e30140cf750f28f4b66c625fac',
                        'format' : 'iframe',
                        'height' : 250,
                        'width' : 300
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
                </script>
            </div>
        </div>
    </div>
    <div class="container fadeInUp">
        <div class="row">
            <div class="card-deck-wrapper">
                {foreach $item in $items} {script $item = Campaign::first(array("id = ?" => $item->campaign_id), array("id", "live", "image", "title", "description"))}
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <a href="/game/view/{echo Framework\StringMethods::url($item->title)}/{echo $item->id}"><img class="card-img-top img-responsive" src="{echo CDN}uploads/images/{echo $item->image}" alt="Look Like Image"></a>
                        <div class="card-block">
                            <h4 class="card-title">{echo $item->title}</h4>
                            <p class="card-text">{echo $item->description}</p>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="http://pl166573.puhtml.com/88/c8/9f/88c89f8d68f4d6b482f0ce936a2809a9.js"></script>