<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="row">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dinchak1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2202368153151998"
                 data-ad-slot="5152090668"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="col-md-8">
                <div class="jumbotron">
                    <p class="lead">
                        <small>Your Result Is Ready. Now Click on Share To Watch Button To Watch Your Result. </small>
                        <button class="btn btn-success btn-lg btn-block fbshare" data-fbshare="http://game.pancilapps.com/game/result/{echo $participant->id}" data-layout="link">Share on Facebook</button>
                    </p>
                    <small><div class="fb-send" data-href="http://game.pancilapps.com/game/result/{$participant->id}"></div></small>
                </div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- dinchak_3 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2202368153151998"
                     data-ad-slot="9508238267"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="col-md-4">
                <script type="text/javascript">
                    atOptions = {
                        'key' : '281808e30140cf750f28f4b66c625fac',
                        'format' : 'iframe',
                        'height' : 250,
                        'width' : 300
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
                </script>
            </div>
        </div>
    </div>
    <div class="container fadeInUp">
        <div class="row">
            <div class="card-deck-wrapper">
                {foreach $item in $items} {script $item = Campaign::first(array("id = ?" => $item->campaign_id), array("id", "live", "image", "title", "description"))}
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <a href="/game/view/{echo Framework\StringMethods::url($item->title)}/{echo $item->id}"><img class="card-img-top img-responsive" src="{echo CDN}uploads/images/{echo $item->image}" alt="Look Like Image"></a>
                        <div class="card-block">
                            <h4 class="card-title">{echo $item->title}</h4>
                            <p class="card-text">{echo $item->description}</p>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>