<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="text-center">{echo $campaign->title}</h3>
                    <p class="lead">
                        <button type="button" class="btn btn-success btn-lg btn-block fbLogin" data-action="campaign" data-campaign="{echo $campaign->id}">Start</button>
                    </p>
                    <small><i class="ion-social-facebook"></i> You will be required to login from facebook</small>
                </div>
            </div>
            <div class="col-md-4">
                <script type="text/javascript">
                    atOptions = {
                        'key' : '281808e30140cf750f28f4b66c625fac',
                        'format' : 'iframe',
                        'height' : 250,
                        'width' : 300,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bnhtml.com/invoke.js"></scr' + 'ipt>');
                </script>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="http://pl166573.puhtml.com/88/c8/9f/88c89f8d68f4d6b482f0ce936a2809a9.js"></script>