<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h3 class="text-center">{echo $campaign->title}</h3>
                    <p class="lead">
                        <button type="button" class="btn btn-success btn-lg btn-block fbLogin" data-action="campaign" data-campaign="{echo $campaign->id}">Start</button>
                    </p>
                    <small><i class="ion-social-facebook"></i> You will be required to login from facebook</small>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>
