<section class="bg-alt">
    <div class="container fadeInUp">
        <div class="card-columns">
            {foreach $item in $items}
            <a href="/game/view/{echo Framework\StringMethods::url($item->title)}/{echo $item->id}" class="card">
                <img class="card-img-top img-responsive" src="{echo CDN}uploads/images/{echo $item->image}" alt="Look Like Image">
                <div class="card-block">
                    <h4 class="card-title">{echo $item->title}</h4>
                    <p class="card-text">{echo $item->description}</p>
                </div>
            </a>
            {/foreach}
        </div>
    </div>
</section>
